# This file is a template, and might need editing before it works on your project.
docker-build-master:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE" .
    - docker push "$CI_REGISTRY_IMAGE"
  only:
    - master

docker-build:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
  except:
    - master

#stages:
 # - build
  #- test

#build-code-job:
 # stage: build
  #script:
   # - echo "Check the ruby version, then build some Ruby project files:"
    #- ruby -v
    #- rake

#test-code-job1:
 # stage: test
  #script:
   # - echo "If the files are built successfully, test some files with one command:"
    #- rake test1

#test-code-job2:
 # stage: test
  #script:
   # - echo "If the files are built successfully, test other files with a different command:"
    #- rake test2
